/* bugs V2.0 is now connected to TrueLight 1.0 */ 
/* all bugs that got solved will appear here */
    /* if you saw a bug contact Agam#1111*/

/* fix server unavailable, empty folder server space, removes folder animation when open/close */
.expandedGuilds-1JMD4M {
    height: auto !important;
}

/* fix server unavailable, empty folder server space, removes folder animation when open/close */
.expandedGuilds-1JMD4M {
    height: auto !important;
}

/* fix read as mark in discord servers / channels */
html, span:not([class*="spinner-"]):not([class*="spinnerItem"]) {
    backface-visibility: visible !important;
}

/* a litle bug in the end of folders, addes space */
.expandedGuilds-1JMD4M {
    height: auto !important;
}

/* fix outside background grey */ 
.bg-h5JY_x {
    background: transparent !important;
}

/* fix share screen black sides background */
.video-1kutKI {
background-color: #ffffff00 !important }