/**
 * @name TrueLight Anime
 * @author Agam#1356
 * @version 1.0 (Beta)
 * @description Locker
 * @website https://github.com/agamsol/Releases/blob/master/HUB.md
*/

/* Imports state: code is disabled*/
/* @import url(http://agamsol.github.io/DiscordThemes/Themes/TrueLight.Anime/Theme/Base/B4K/DSFV3.0.css);
html:first-child:last-child:only-child > head:first-child + body:last-child > div#app-mount:before,html:first-child:last-child:only-child > head:first-child + body:last-child > div#app-mount:after,#user-settings:after{
	content: "hello, you're seeing this message about MineCore 4.0 \A \A Me (Agam#1111) moved the theme to a new location in my github page, \A the theme is now outdated. \A \A Do not try change the config it will not help you! \A \A to fix this content \A windows search > type %appdata% > BetterDiscord > Themes \A > remove MineCoreV4.0.theme.css \A \A if you loved the theme and you want it back to work contact me, \A i am sure i can help you \A \A \A \A \A \A Think you see it by mistake? Ask Agam#1111 \AThanks for supporting my Theme." !important;
	white-space:pre !important;
	font-size: 1.8rem !important;
	line-height: 1.5rem !important;
	text-align: center !important;
	background: white!important;
	box-shadow:inset 0 0 55px 5px goldenrod!important;
	border:5px solid goldenrod !important;
	color: red !important;
	padding: 0 !important;
	padding-top: calc(20vh - 1rem) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 5 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 1px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
	transform:none !important;
  -webkit-app-region:drag !important;
  animation: BDDS 1s infinite linear;
}
@keyframes BDDS {
  from, to{
    box-shadow:inset 0 0 55px 5px goldenrod;
    border:5px solid goldenrod ;
  }
  50%{
    box-shadow:inset 0 0 155px 5px red;
    border:10px solid red;
  }
}
