:root {

  /* Image variables */
    --BG-image: url('https://s1.1zoom.me/b5050/760/249710-aliya06_1920x1080.jpg');
    --BG-image-blur: 3px;

    /* Brightness variables */
    --BG-serverlist-brightness: 0.7;
    --BG-left-brightness: 0.7;
    --BG-right-brightness: 0.4;
    --BG-popout-brightness: 0.1;

    --BG-gradient-one: 57, 71, 163;       
    --BG-gradient-two: 57, 71, 163;
    --BG-gradient-direction: -1deg;

    /* Other variables */
    --BG-window-padding: 24px;
    --BG-window-roundness: 7px;
    --BG-left-right-split: 7;

}
