/**
 * @name Extention | TrueLight (beta)
 * @author Agam#1111
 * @version 1.0
 * @description Extentions Version 1.0 | CopyRight TrueLight-Agam v1.0©
 * @website https://github.com/agamsol/download
*/

/* start animation */
body:before, body:after {
    content: "True light 1.0";
    color: rgb(40, 255, 251);
    font-size: 100px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 9997;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: theme-intro .2s reverse forwards, theme-intro .2s 1s linear forwards, third-intro 0s 2s forwards, theme-intro .2s 2s reverse forwards, theme-intro .2s 3s linear forwards;
}
body:after {
    content: "i hope you enjoy!";
    opacity: 0;
    animation: theme-intro .2s 1s reverse forwards, theme-intro .2s 2s linear forwards;
}
@keyframes third-intro {
    to {
        content: "↠Agam#1111";
    }
}
@keyframes theme-intro {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.25);
        opacity: 0;
        pointer-events: none;
    }
}

/* nitro page */
/* gift a month button color */
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6 {
    color: #00fdff; }
/* nitro page image */ 
.mechaWumpus-QUIer0 {
background-image: url("https://images.discordapp.net/avatars/482584715673600026/3813e13cf3e89eb5ab314dcda58f5d96.png"); }
/* nitro category title and color */
.side-8zPYf6 .item-PXvHYJ {
    color: ;
    background-color: ; }

/* add friends list color and
add friends icon color */
.content-3QAtGj, .name-uJV0GL {
    color: #b9bbbeb8; }
.linkButtonIcon-Mlm5d6 {
    color: #b9bbbeb8; }
/* add friends image */
.image-1GzsFd {
flex: 0 1 auto !important;
width: 376px !important;
height: 162px !important;
background-image:url(https://media.giphy.com/media/FO7rVNr3VgB2/giphy.gif) !important;}

/* init fixer bar box */ 
.appMount-3lHmkl, body {
    background: transparent !important;
}

/* Selftag size */
.size10-tblYdA {
font-size: 13px;}

/* removes unavailable servers icon */
.guildsError-b7zR5H {
       display: none;
}

/* bot tag erea*/
.botTag-3W9SuW {
margin-left: 10px;
}

/* keyframes */
/* in add friend category make ADD FRIEND button rainbow */ 
@keyframes rainbow    {
    from {
    -webkit-filter: hue-rotate(0deg);
}

  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

.theme-dark .friendsTable-133bsv .friendTableAddWrapper-nHHZtK h2 {
    color: #0f0;
    animation: rainbow 1s linear infinite
}

/* in-keyframes change self name + connacted call + playing tab games */ 
@keyframes rainbow    {
    from {
    -webkit-filter: hue-rotate(0deg);
}

  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

.title-eS5yk3 {
    color: #0f0;
    animation: rainbow 1s linear infinite
}

/* in-keyframes Game icon as rainbow */ 
.gameIcon-gg34Dz 

@keyframes rainbow    {
    from {
    -webkit-filter: hue-rotate(0deg);
}

  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

.gameIcon-gg34Dz {
    color: #0f0;
    animation: rainbow 1s linear infinite
}
/* in-keyframes add rainbow to unreaded servers + home button */ 
@keyframes rainbow    {
    from {
    -webkit-filter: hue-rotate(0deg);
}

  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

.item-2hkk8m {
    background-color: #0f0;
    animation: rainbow 1s linear infinite
}

/* in-keyframes change nitro page Nitro title color to rainbow */ 
@keyframes rainbow    {
    from {
    -webkit-filter: hue-rotate(0deg);
}

  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

.tier2PlanName-2TttcQ {
    color: #0f0;
    animation: rainbow 1s linear infinite
}

/* in-keyframes */
@keyframes rainbow    {
    from {
    -webkit-filter: hue-rotate(0deg);
}

  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

.name-3YKhmS {
    color: #0f0;
    animation: rainbow 1s linear infinite
}

/* in-keyframes server boost name / stats rainbow */
@keyframes rainbow    {
    from {
    -webkit-filter: hue-rotate(0deg);
}

  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

.base-1x0h_U {
    color: #0f0;
    animation: rainbow 1s linear infinite
}

/* set custom status title color */
.headerText-2uyvpYc {
color: #7bd6bb !importent; }

/* mentions style */
.theme-dark .isMentioned-N-h9aa {
background: #4a4a52 !important;}

/* add friend category text changer */ 
.friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableAddDescription-19D3dl {
color: #4eec59; }

/* when you select stuff to copy / edit CTRL + A */ 
::selection {
    background: black;
    color: white;
}

/* the little bar says NEW mentions */ 
.mention-1f5kbO {
background: rgb(226, 43, 46)}

/* effect top Home button */ 
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
background-color: #a4a6ab;}
