/* bugs V1.0 is now connected to MineCore 4.0 */ 
/* all bugs that got solved will appear here */
    /* if you saw a bug contact Agam#1111*/

.bg-h5JY_x {
    background: transparent !important;
}

/* fix server unavailable, empty folder server space, removes folder animation when open/close */
.expandedGuilds-1JMD4M {
    height: auto !important;
}

/* fix server discovery */
html, span:not([class*="spinner-"]):not([class*="spinnerItem"]) {
    backface-visibility: visible !important;
}

/* fix BG Margins, needed to be full screen photo */ 
.bg-h5JY_x {
    background: transparent !important;
}

/* not a bug (removes unavailable servers icon) (optional) */
.guildsError-b7zR5H {
       display: none;