:root {

/* Image variables */
    --BG-image: url('https://i.imgur.com/yTkzaHK.png');
    --BG-image-blur: 0px;

    /* Brightness variables */
    --BG-serverlist-brightness: 0.7;
    --BG-left-brightness: 0.7;
    --BG-right-brightness: 0.4;
    --BG-popout-brightness: 0.1;

    --BG-gradient-one: 57, 71, 163;       
    --BG-gradient-two: 57, 71, 163;
    --BG-gradient-direction: -1deg;

    /* Other variables */
    --BG-window-padding: 20px;
    --BG-window-roundness: 7px;
    --BG-left-right-split: 7;

}
