/* Helper: "elly130" */
/* ID: 276395799800446977 */
/* Discord: elly130#6932 */

.avatar-1BDn8e[src*="276395799800446977"] + h2 > .username-1A8OIy::after{content:"____";color:transparent!important;background-color:transparent;background-position:center;background-repeat:no-repeat;background-size:contain;position:relative;z-index:2;text-shadow:none;background-image:var(--helper-image);background-size:var(--helper-image-size)}