/* Owner "Agam" */
/* ID: 415440180753858560 */
/* Discord: Agam#1111 */

.avatar-1BDn8e[src*="415440180753858560"] + h2 > .username-1A8OIy::after{content:"____";color:transparent!important;background-color:transparent;background-position:center;background-repeat:no-repeat;background-size:contain;position:relative;z-index:2;text-shadow:none;background-image:url(https://imgur.com/He7iwtH.png);background-size:30px}
  