/**
 * @name TrueLight Anime (beta)
 * @author Agam#1356
 * @version 1.0
 * @description desc | CopyRight TrueLight-Anime v1.0©
 * @website https://github.com/agamsol/Releases/blob/master/HUB.md
*/

/* network browser Version 1.0 */
@import
url('https://agamsol.github.io/DiscordThemes/Themes/TureLight.Anime/TrueLightAnime1.0/NetworkFileManager/BrowserV2.0.css');

----------------------------------------------
                Createors:
            ideas: elly130#6932
           development: Agam#1356
----------------------------------------------
               photo rights ©
                used photo:
            http://bit.ly/2XU4kEu
----------------------------------------------
           Created by Agam#1356
	  Mail: agamsolomon2004@gmail.com
     Discord Server: http://bit.ly/2Doeeon
      Donate: http://bit.ly/37OAbef

----------------------------------------------
	  CopyRight TrueLight-Anime v4.0©
----------------------------------------------
