/**
 * @name TrueLight (beta)
 * @author Agam#1111
 * @version 4.0
 * @description A new amazing discord theme, User cards is still buggy | CopyRight TrueLight-Agam v1.0©
 * @website https://github.com/agamsol/download
*/

/* network browser Version 1.0 */
@import
url ();

/*
    created by Agam#1111
	mail: agamsolomon2004@gmail.com
    Discord Server: https://discordapp.com/invite/RRWd3Kn
    Donate: https://streamlabs.com/agamsolomon/tip
	
	copyright TrueLight-Agam v4.0©
	
*/

/*
anime version is coming soon for you
credits: idea By elly130#6932.
*/